- assetImage = '../assets/images/contents/pages/'



	.section.container.about-us-container
		.img-bg-parallax.about-us-bg-holder(style='background-image: url(../assets/images/contents/pages/about-us/lotus-villa/banners/page-banner.jpg)')
		.hero-header.hero-wrapper.txt-center
			.content-title
				span Lotus Villa
			.content-desc
				span A dreamy masterpiece in the heart of Luang Prabang

	.section.container.tranquillity-experience-container
		.tranquillity-experience-wrapper
			.row
				.columns-fix.six-half
					.img-bg-holder.tranquillity-img-holder
						img(src=assetImage + "about-us/lotus-villa/tranquillity/img-01.jpg", alt="")
				.columns-fix.six-half
					.tranquillity-desc.vertical-middle
						.content-title
							span Experience tranquillity like no other
						.content-calibre
							span Set along a quiet street, Lotus Villa is a boutique hotel with 17 individually crafted rooms and suites in the heart of a UNESCO peninsula.
						.content-calibre
							span We strive to bring you the best of both worlds by combining the warmth and intimacy of traditional Lao houses with the exquisiteness of French colonial designs.
						.content-calibre
							span Have a stay with us to experience the calm and tranquil ambiance that echoes that of our sleepy world heritage town.

		.tranquillity-experience-wrapper
			.row
				.columns-fix.six-half.pull-right
					.img-bg-holder.experience-img-holder
						img(src=assetImage + "about-us/lotus-villa/experience/img-01.jpg", alt="")
				.columns-fix.six-half
					.experience-desc.vertical-middle
						.content-title
							span Make an experience with us
						.content-calibre
							span.block #[strong Peace and serenity]
							span.block We pride ourselves on being a true relaxing getaway – which is why we do not have televisions, and invite you to experience the serene life of a Laotian instead.
						.content-calibre
							span.block #[strong Relax with a responsible conscience]
							span.block To help Luang Prabang retain her green beauty, we implement environmental-friendly practices, such as proper waste disposal techniques and using organic soap.
						.content-calibre
							span.block #[strong Always have the best view]
							span.block All rooms open to a view of our courtyard garden, where breakfast is served daily.
						.content-calibre
							span.block #[strong Be in the heart of it all]
							span.block We are a walk away from many iconic heritage and natural landmarks, and are in the monks’ almsgiving route every morning.
						
					
	





	
