- assetImage = '../assets/images/contents/pages/'


	
	.section.container.carousel-container.philanthropy-container
		.carousel.carousel_hdr
			.carousel_item
				.img-bg-parallax.carousel-wrapper(style='background-image:url(../assets/images/contents/pages/about-us/philanthropy/banners/img-01.jpg)')
			
		.hero-header.hero-wrapper.txt-center
			.content-title
				span Philanthropy
			.content-desc
				span Giving back to the Laotian community
	.section.container.community-laos-container
		.community-wrapper
			.comunity-desc.txt-center.vertical-middle
				.content-title
					span Our hotel would not be what it is without the care and support of our Laotian community
				.content-calibre
					span Which is why we strive to make as much active contributions to the community as possible.
				.content-calibre
					span We don’t give back as a business – we give back as Laotians.
	.section.container.philanthropy-tabs-container
		.philanthropy-tabs-wrapper
			.tabs-holder
				ul.tabs.txt-center.nav-tabs-responsive.js-nav-tabs-responsive.clearfix
					li.tabs-list.active
						a.tabs-navi(href='#cultural-conservation' data-toggle='tab') 
							span.text Cultural Conservation
					li.tabs-list.next
						a.tabs-navi(href='#social-responsibility' data-toggle='tab') 
							span.text Social Responsibility
					li.tabs-list
						a.tabs-navi(href='#orphanage-projects' data-toggle='tab') 
							span.text Orphanage Projects
					li.tabs-list
						a.tabs-navi(href='#others-in-need' data-toggle='tab') 
							span.text Others In Need
			.tabs-container.tab-content
				.tab-pane.tabs-content-wrapper#cultural-conservation.active.fade.in
					.row
						.columns-fix.six-half
							.img-bg-holder.tabs-img-holder
								img(src= assetImage + 'about-us/philanthropy/tabs/cultural-conservation/img-01.jpg', alt="")
						.columns-fix.six-half
							.tabs-desc.vertical-middle
								.content-calibre-light
									span We have supported a number of projects dedicated to preserving the Lao spirit over the years, such as:
									ul.desc
										li.desc-list
											span The Lao National Games 2011
										li.desc-list
											span The FMK dance troupe and workshops
										li.desc-list
											span The Luang Prabang Film Festival
										li.desc-list
											span The French Cultural Centre Open Days
										li.desc-list
											span The Evolution Crew Breakdancing Troupe
										li.desc-list
											span The Luang Prabang Police fund
										li.desc-list
											span The Luang Prabang Police fund
										li.desc-list
											span The Traditional Arts and Ethnology Centre (TAEC)
								.content-calibre-light
									span On top of that, all proceeds from your purchases of our organic soap and paraben-free shampoo (which are also freely available in our bathrooms) go towards the Buddhist Heritage Project.
				.tab-pane.tabs-content-wrapper#social-responsibility.fade
					.row
						.columns-fix.six-half
							.img-bg-holder.tabs-img-holder
								img(src= assetImage + 'about-us/philanthropy/tabs/social-responsibility/img-01.jpg', alt="")
						.columns-fix.six-half
							.tabs-desc.vertical-middle
								.content-calibre-light
									span We believe in:
									ul.desc
										li.desc-list
											span Local artisans being able to keep their craft while earning a living off of it; this keeps traditions alive and supports the local economy. For this reason, our associates (Richard, Jacinta, and Andrew) informally assist local artisans with product development and business improvements.
										li.desc-list
											span Using and showcasing locally made products in our hotel.
										li.desc-list
											span Fair wages and working conditions, and we provide training opportunities and medical care for our staff.
										li.desc-list
											span The livelihood and wellbeing of our hardworking staff (both former and present) and their family to be taken care of, which is why we distribute books on healthcare in Lao to them.
										li.desc-list
											span Being as environmentally friendly as possible. We implement proper cleaning and waste disposal practices to reduce our overall impact.
				.tab-pane.tabs-content-wrapper#orphanage-projects.fade
					.row
						.columns.twelve
							.projects-desc.txt-center
								.content-calibre-light
									span As Laotians, we see it in our duty to care for the most vulnerable members of our community. With the Lao government’s funding of only $25 a month per child,  we need all the help we can get in ensuring they have the opportunity to start and continue life well.
								.content-calibre-light
									span Help us improve the healthcare and education of our less fortunate children by supporting any of these projects; it would be a most welcome present if you could make a difference in their lives. Please contact Andrew (one of our partners) at
									a.link-gold(href='andrewb@lotusvillalaos.com') andrewb@lotusvillalaos.com
									span  or speak with him at Lotus Villa regarding any donations.
					.row
						.columns-fix.six-half
							.img-bg-holder.tabs-img-holder
								img(src= assetImage + 'about-us/philanthropy/tabs/orphanage-projects/img-01.jpg', alt="")
						.columns-fix.six-half
							.tabs-desc
								.content-title
									span The Luang Prabang Orphanage
								.content-calibre-light
									span The Luang Prabang Orphanage is home to 600 children and is 3km from the city centre. Andrew initiated and currently maintains their food, medical, dental, hygiene, education, and capital projects.
					.row
						.columns-fix.six-half
							.img-bg-holder.tabs-img-holder
								img(src= assetImage + 'about-us/philanthropy/tabs/orphanage-projects/img-02.jpg', alt="")
						.columns-fix.six-half
							.tabs-desc
								.content-title
									span Deak Kum Pa Orphanage
								.content-calibre-light
									span The Deak Kum Pa Orphanage houses 600 children and is on the outskirts of Luang Prabang. Governmental funds are only enough for 2 basic meals per day.
								.content-calibre-light
									span Andrew currently makes sure that each child gets toiletries, daily fruits, and tri-weekly eggs and meat each week.
								.content-calibre-light
									span We recently finished building a new dormitory and school to ease the cramped living conditions, and currently have a scholarship program that has helped over 75 students transition out of the orphanage into higher education.
					.row
						.columns-fix.six-half
							.img-bg-holder.tabs-img-holder
								img(src= assetImage + 'about-us/philanthropy/tabs/orphanage-projects/img-03.jpg', alt="")
						.columns-fix.six-half
							.tabs-desc
								.content-title
									span Suan Luang
								.content-calibre-light
									span Suan Luang is the home and school to 650 of the poorest of Lao children who can no longer be supported by their families.
								.content-calibre-light
									span Conditions are very poor with dilapidated dormitories and classrooms, no medical or dental support, very poor food quality, and no clean drinking water.
								.content-calibre-light
									span We hope to provide the same level of support that is being given to the Deak Kum Pa Orphanage, and the same programs will be initiated when funding is available.
					.row
						.columns-fix.six-half
							.img-bg-holder.tabs-img-holder
								img(src= assetImage + 'about-us/philanthropy/tabs/orphanage-projects/img-04.jpg', alt="")
						.columns-fix.six-half
							.tabs-desc
								.content-title
									span Numbuk Orphanage School
								.content-calibre-light
									span Currently housing 450 children, this number is expected to grow to 630 within the next 2 years at the Numbuk Orphanage School. Andrew hopes to build 3 dormitories soon to support these extra children.  
								.content-calibre-light
									span Similarly, top priorities include food, clean water, clothing, medical, dental, and educational support. 
								
				.tab-pane.tabs-content-wrapper#others-in-need.fade
					.row
						.columns-fix.six-half
							.carousel.carousel_hdr
								.carousel_item
									.img-bg-holder.tabs-img-holder
										img(src= assetImage + 'about-us/philanthropy/tabs/others-in-need/img-01.jpg', alt="")
						.columns-fix.six-half
							.tabs-desc.vertical-middle
								ul.desc
									li.desc-list
										span.block Big Brother Mouse is a local non-profit with the goal of helping young Laotians develop new skills.
										a.link-gold(href='http://www.bigbrothermouse.com') http://www.bigbrothermouse.com
									li.desc-list
										span.block The Language Project creates and supports multilingual public libraries and resource centres to enable individuals to realize their dreams.
										a.link-gold(href='http://www.thelanguageproject.org') http://www.thelanguageproject.org
									li.desc-list
										span.block The Traditional Arts and Ethnology Centre is the only independent non-profit museum and resource centre in Laos dedicated to the collection, preservation, and interpretation of the traditional art and lifestyle of the country's many diverse ethnic groups. 
										a.link-gold(href='http://www.taeclaos.org') http://www.taeclaos.org
									li.desc-list
										span.block Ock Pop Tok aims to empower women using their traditional skills to promote the beauty of Laotian textiles across the globe.
										a.link-gold(href='http://www.ockpoptok.com') http://www.ockpoptok.com
									li.desc-list
										span.block The Lao National Unexploded Ordnance Programme conducts disposals of unexploded landmines that hinder Lao social-economic development and put thousands of Laotians at risk each day.
										a.link-gold(href='http://www.uxolao.org') http://www.uxolao.org
									li.desc-list
										span.block Legacies of War aims to raise awareness about the Vietnam War-era bombing in Laos, and advocates for the clearance of unexploded bombs.
										a.link-gold(href='https://legaciesofwar.org') https://legaciesofwar.org
									li.desc-list
										span.block COPE is a local organization that works with the Lao Ministry of Health to provide rehabilitation services.
										a.link-gold(href='http://www.copelaos.org') http://www.copelaos.org
		
