// Color

$white: #ffffff;
$black: #000000;
$gold: #907342;
$gold-hover: #6d542b;
$primary: #9c7e47;
$secondary: #8e7343;
$bg-text: #20282f;
$bg-contain: #ede8e0;
$tab-contain: #29363e;

//------  Fonts  ------/
$font_garamond: 'garamond';
$font_calibri: 'Calibri';
$font_lotus: 'lotus-font' !important;
$font_light_thin: 200;
$font_book_demi: 300;
$font_normal_regular: 400;
$font_medium: 500;
$font_semibold_demibold: 600;
$font_bold: 700;
$font_black_extraBold_heavy: 800;
$font_extraBlack_fat_poster_ultraBlack: 900;
