.section.container.cross-sell-container
	.cross-sell-wrapper
		.row
			.columns-fix.six-half
				.cross-sell-content.discover-luang-prabang
					a(href="../discover-luang-prabang.html") 
						.cross-content
							.img-bg-holder.cross-img-holder
								img(src=assetImage + "cross-sell/discover/bg.jpg", alt="")
							.cross-desc.txt-center
								span Discover Luang Prabang
			.columns-fix.six-half
				.cross-sell-content.about-us
					a(href="../about-us/lotus-villa.html")
						.cross-content
							.img-bg-holder.cross-img-holder
								img(src=assetImage + "cross-sell/about-us/bg.jpg", alt="")
							.cross-desc.txt-center
								span About Us
