.carousel.carousel_hdr
	.carousel_item
		.trip-comment-wrapper
			.trip-comment-desc
				.content-title
					span Best stay in Laos
				.rating-date-holder
					.rating-star
						i.ico.icon-bullet-small-target
						i.ico.icon-bullet-small-target
						i.ico.icon-bullet-small-target
						i.ico.icon-bullet-small-hallow
						i.ico.icon-bullet-small-hallow
					.rating-date
						span 28 December 2016
				.comment-wrapper
					.content-calibre
						span.block The hotel is beautiful with very well behaved staff.. located near the intersection of two rivers- Mekong and Nam Khan you get the best of both with a small walk. You can also see early morning monks coming for alms from this street.  
						span.block You get a free bike to check out the city and everything in Luang Prabang is just a bike ride away!
						span.block Plus you get an amazing breakfast!!! Do try the homemade jams and enjoy the stay here
						span.block The hotel is beautiful with very well behaved staff.. located near the intersection of two rivers- Mekong and Nam Khan you get the best of both with a small walk. You can also see early morning monks coming for alms from this street.  
						span.block The hotel is beautiful with very well behaved staff.. located near the intersection of two rivers- Mekong and Nam Khan you get the best of both with a small walk. You can also see early morning monks coming for alms from this street.  
						span.block The hotel is beautiful with very well behaved staff.. located near the intersection of two rivers- Mekong and Nam Khan you get the best of both with a small walk. You can also see early morning monks coming for alms from this street.  
						span.block The hotel is beautiful with very well behaved staff.. located near the intersection of two rivers- Mekong and Nam Khan you get the best of both with a small walk. You can also see early morning monks coming for alms from this street.  
	.carousel_item
		.trip-comment-wrapper
			.trip-comment-desc
				.content-title
					span Best stay in Laos
				.rating-date-holder
					.rating-star
						i.ico.icon-bullet-small-target
						i.ico.icon-bullet-small-target
						i.ico.icon-bullet-small-target
						i.ico.icon-bullet-small-hallow
						i.ico.icon-bullet-small-hallow
					.rating-date
						span 28 December 2016
				.comment-wrapper
					.content-calibre
						span.block The hotel is beautiful with very well behaved staff.. located near the intersection of two rivers- Mekong and Nam Khan you get the best of both with a small walk. You can also see early morning monks coming for alms from this street.  
						span.block You get a free bike to check out the city and everything in Luang Prabang is just a bike ride away!
						span.block Plus you get an amazing breakfast!!! Do try the homemade jams and enjoy the stay here
