- assetImage = '../assets/images/contents/pages/'


	.section.container.book-room-container.lotus-room
		.row
			.columns-fix.six-half
				.room-book-wrapper
					.room-ico
						.ico.icon-search.js-lightboxPopup
					.carousel.carousel_hdr
						.carousel_item
							.img-bg-holder.book-room-img-holder(style='background-image:url(../assets/images/contents/pages/stay/room-lotus/img-01.jpg)' data-src='../assets/images/contents/pages/stay/room-lotus/img-01.jpg')
					.room-feature-holder
						.room-desc
							.content-title.txt-center
								span Room Features
						.room-icon
							.row
								.columns-fix.six-half
									.icon-wrapper
										.ico-img-holder
											i.ico.icon-living-space
											.content-flavor
												span 204 sq ft living space
										.ico-img-holder
											i.ico.icon-bed-master
											.content-flavor
												span Queen-sized bed
										.ico-img-holder
											i.ico.icon-ac
											.content-flavor
												span Air-conditioning
										.ico-img-holder
											i.ico.icon-coffee-machine
											.content-flavor
												span Coffee / tea maker

								.columns-fix.six-half
									.icon-wrapper
										.ico-img-holder
											i.ico.icon-balcony
											.content-flavor
												span 2 Balconies
										.ico-img-holder
											i.ico.icon-shower
											.content-flavor
												span Private bathroom &amp; shower
										.ico-img-holder
											i.ico.icon-dressing-table
											.content-flavor
												span Dressing table
										.ico-img-holder
											i.ico.icon-wifi
											.content-flavor
												span Wi-Fi
						.room-table-desc
							table.u-full-width
								thead
									tr
										th 
										th Single Bed
										th Double Bed
								tbody
									tr
										td Low Season
										td USD 56
										td USD 64
									tr
										td High Season
										td USD 75
										td USD 85

			.columns-fix.six-half
				.room-book-wrapper
					.img-bg-holder.lotus-bg-holder
						.booking-container-wrapper
							.room-desc
								.content-title.txt-center
									span Lotus Room
								.content-booking.txt-center
									span From 
									span.currency USD 56 
									span  /night
								.book-icon-desc.txt-center
									.row
										.columns.four
											.ico-img-holder
												i.ico.icon-guest-two.block
												span Two Guests
										.columns.four
											.ico-img-holder
												i.ico.icon-bed-master.block
												span Queen-sized Bed
										.columns.four
											.ico-img-holder
												i.ico.icon-windows.block
												span Tropical Garden View
								.book-content-desc.txt-center
									.content-desc
										span Designed with traditional Lao timber-panelled walls and an earthy colour scheme, this room sets the tone for a relaxing and natural getaway.
									.content-desc
										span With each room bearing two balconies, simply step out onto either your private balcony overlooking the courtyard garden, or onto the walkway balcony where you can observe the peaceful Lao life go by.
						.book-system-wrapper
							.form-container
								form.booking-form#js-booking-form
									.row
										.columns.five
											.form-group
												.form-date.input-group.date.dateStart
													label(for='check_in_date') Check-In
													input(data-toggle='datepicker-start' id='datepicker-start' placeholder='Check-In' type='text' value='')
													span.form-icon-holder.input-group-addon
														i.ico.icon-calendar
										.columns.five
											.form-group
												.form-date.input-group.date.dateEnd
													label(for='check_in_date') Check-Out
													input(data-toggle='datepicker-end'  id='datepicker-end' placeholder='Check-Out' type='text' value='')
													span.form-icon-holder.input-group-addon
														i.ico.icon-calendar
										.columns.two
											.form-group
												.form-night-holder
													.night-wrapper
														span.value#value 0 night
									.row
										.columns.six
											.form-group
												.form-number-holder
													label(for='check_in_guests') Guests
													button.btn-plus(type='button')
														span.sr-only +
														span.ico.icon-plus
													input(id='guest_input' class="incr-form guest-input" name='Guests' type='text' value='0' readonly="readonly" data-limit="2")
													button.btn-minus(type='button')
														span.sr-only -
														span.ico.icon-minus
										.offset-by-six.columns
									.row
										.columns.twelve
											.form-group
												.form-button-holder
													button.btn-gold-inverse(type='submit') Book Your Stay


	.section.container.booking-terms-container
		.row
			.columns.twelve
				.booking-terms-wrapper
					.content-title
						span Booking Terms
						
					.content-calibre
						span Check-In and Check-Out
					ul.terms
						li Check-In – 14:00 ; Check-Out – 12:00.
						li Please note that early check-in / late check-out is subject to availability and cannot be confirmed in advance. However, you can leave your luggage with us while you’re out exploring Luang Prabang.
					
					.content-calibre
						span Price Policies
					ul.terms
						li High Season: 01 Oct 2017 – 20 Apr 2018.
						li Low Season: 21 Apr 2018 – 30 Sep 2018.
						li Sales Tax is included in the room rates. We do not have service charge, and tipping is at your discretion.
						li All prices are in US Dollars. Rates include daily breakfast, free Wi-Fi, in-room coffee and tea making facilities and complimentary use of hotel bicycles.
					
					.content-calibre
						span Child Policy
					ul.terms
						li Children aged five and below stay for free. Maximum occupancy for Lotus Rooms (regardless of age): two people.
						li Children must be accompanied by their parents at all times.
					
					.content-calibre
						span Cancellation
					ul.terms
						li Cancellation of hotel reservations received less than 72 hours prior to your arrival will incur the full cost of the first night of the stay.
						li Cancellation of hotel reservations received less than 24 hours prior to your arrival or no-show will result in 100% of your room rate for your entire stay being charged to your credit card.

	
