- assetImage = '../assets/images/contents/pages/'


	.section.container.book-room-container.orchid-room
		.row
			.columns-fix.six-half
				.room-book-wrapper
					.room-ico
						.ico.icon-search.js-lightboxPopup
					.carousel.carousel_hdr
						.carousel_item
							.img-bg-holder.book-room-img-holder(style='background-image:url(../assets/images/contents/pages/stay/room-orchid/img-01.jpg)' data-src='../assets/images/contents/pages/stay/room-orchid/img-01.jpg')
					.room-feature-holder
						.room-desc
							.content-title.txt-center
								span Room Features
						.room-icon
							.row
								.columns-fix.six-half
									.icon-wrapper
										.ico-img-holder
											i.ico.icon-living-space
											.content-flavor
												span 538 sq ft living space
										.ico-img-holder
											i.ico.icon-bed-master
											.content-flavor
												span King-sized bed
										.ico-img-holder
											i.ico.icon-bed-single
											.content-flavor
												span 1 day bed
										.ico-img-holder
											i.ico.icon-ac
											.content-flavor
												span Air-conditioning

								.columns-fix.six-half
									.icon-wrapper
										.ico-img-holder
											i.ico.icon-balcony
											.content-flavor
												span Private balcony
										.ico-img-holder
											i.ico.icon-shower
											.content-flavor
												span Private bathroom &amp; shower
										.ico-img-holder
											i.ico.icon-wifi
											.content-flavor
												span Wi-Fi
										.ico-img-holder
											i.ico.icon-minibar
											.content-flavor
												span Complimentary mini bar
						.room-table-desc
							table.u-full-width
								thead
									tr
										th 
										th Single Bed
										th Double Bed
										th Triple Bed
										th Two-bedroom Suite
								tbody
									tr
										td Low Season
										td USD 101
										td USD 101
										td USD 116
										td USD 131
									tr
										td High Season
										td USD 135
										td USD 135
										td USD 155
										td USD 175

			.columns-fix.six-half
				.room-book-wrapper
					.img-bg-holder.orchid-bg-holder
						.booking-container-wrapper
							.room-desc
								.content-title.txt-center
									span Orchid Suite
								.content-booking.txt-center
									span From 
									span.currency USD 101
									span   /night
								.book-icon-desc.txt-center
									.row
										.columns.four
											.ico-img-holder
												i.ico.icon-guest-four.block
												span Four Guests
										.columns.four
											.ico-img-holder
												i.ico.icon-bed-master.block
												span King-sized Bed
										.columns.four
											.ico-img-holder
												i.ico.icon-lounge.block
												span Lounge Room
								.book-content-desc.txt-center
									.content-desc
										span Aptly named after the orchid, this second floor family suite is styled with a more contemporary design to fit the modern guest. Spend a relaxing afternoon in the royal blue-painted lounge room, and have a good night’s rest in our Indochina-style bedroom.
						.book-system-wrapper
							.form-container
								form.booking-form#js-booking-form
									.row
										.columns.five
											.form-group
												.form-date
													label(for='check_in_date') Check-In
													input(data-toggle='datepicker-start' id='datepicker-start' placeholder='Check-In' type='text' value='')
													.form-icon-holder
														i.ico.icon-calendar
										.columns.five
											.form-group
												.form-date
													label(for='check_in_date') Check-Out
													input(data-toggle='datepicker-end'  id='datepicker-end' placeholder='Check-Out' type='text' value='')
													.form-icon-holder
														i.ico.icon-calendar
										.columns.two
											.form-group
												.form-night-holder
													.night-wrapper
														span.value#value 0 night
									.row
										.columns.six
											.form-group
												.form-number-holder
													label(for='check_in_guests') Guests
													button.btn-plus(type='button')
														span.sr-only +
														span.ico.icon-plus
													input(id='guest_input' class="incr-form guest-input" name='Guests' type='text' value='0' readonly="readonly" data-limit="4")
													button.btn-minus(type='button')
														span.sr-only -
														span.ico.icon-minus
										.offset-by-six.columns
									.row
										.columns.twelve
											.form-group
												.form-button-holder
													button.btn-gold-inverse(type='submit') Book Your Stay






	.section.container.booking-terms-container
		.row
			.columns.twelve
				.booking-terms-wrapper
					.content-title
						span Booking Terms
						
					.content-calibre
						span Check-In and Check-Out
					ul.terms
						li Check-In – 14:00 ; Check-Out – 12:00.
						li Please note that early check-in / late check-out is subject to availability and cannot be confirmed in advance. However, you can leave your luggage with us while you’re out exploring Luang Prabang.
						
					.content-calibre
						span Price Policies
					ul.terms
						li High Season: 01 Oct 2017 – 20 Apr 2018.
						li Low Season: 21 Apr 2018 – 30 Sep 2018.
						li Sales Tax is included in the room rates. We do not have service charge, and tipping is at your discretion.
						li All prices are in US Dollars. Rates include daily breakfast, free Wi-Fi, in-room coffee and tea making facilities and complimentary use of hotel bicycles.
					
					.content-calibre
						span Child Policy
					ul.terms
						li Children aged five and below stay for free. Maximum occupancy for Orchid Suites (regardless of age): four people.
						li Children must be accompanied by their parents at all times.
					
					.content-calibre
						span Cancellation
					ul.terms
						li Cancellation of hotel reservations received less than 72 hours prior to your arrival will incur the full cost of the first night of the stay.
						li Cancellation of hotel reservations received less than 24 hours prior to your arrival or no-show will result in 100% of your room rate for your entire stay being charged to your credit card.
