footer.site-footer
	a.back-to-top.js-back-to-top(href="#")
		span.ico.icon-cavet-up
		span.sr-only Back To Top
	.section.container.footer-height.container-fix-hdpi
		.row
			.columns.three
				.meta-container.navigation
					.menu-list
						ul.menu
							li.menu-list 
								a.menu-link.link-gold(href="stay/lotus-room.html") Stay
							li.menu-list 
								a.menu-link.link-gold(href="services.html") Services
							li.menu-list 
								a.menu-link.link-gold(href="discover-luang-prabang.html") Discover Luang Prabang
							li.menu-list 
								a.menu-link.link-gold(href="about-us/lotus-villa.html") About Us
							li.menu-list 
								a.menu-link.link-gold(href="get-in-touch.html") Get In Touch
							li.menu-list 
								a.menu-link.link-gold(href="book.html") Book
			.columns.three
				.meta-container.contact
					.location.address
						span.block Lotus Villa Boutique Hotel
						span.block 15, Ban Phone Heuang,
						span.block Unit 3, Kounxoa Rd,
						span.block Luang Prabang, Laos (bh)
						.block
						a.link-gold(href="https://www.google.com.my/maps/place/Lotus+Villa+Boutique+Hotel+Luang+Prabang/@19.8956979,102.1383623,17z/data=!3m1!4b1!4m5!3m4!1s0x312f2a6b010a5541:0xce0fc9b992325c37!8m2!3d19.8956929!4d102.140551?hl=en") Get Directions
					.location.phone
						span +856 71-255050
					.location.email
						a.link-gold(href="mailto:reception@lotusvillalaos.com") reception@lotusvillalaos.com
			.columns.six
				.meta-container.socmed
					.media.social-icon
						a.icon-holder.fb(href="https://www.facebook.com/LotusVillaBoutiqueHotel/")
							span.ico.icon-fb
							span.sr-only Facebook
						a.icon-holder.twitter(href="#")
							span.ico.icon-twitter
							span.sr-only Twitter
						a.icon-holder.ig(href="https://www.instagram.com/lotusvillalaos/")
							span.ico.icon-ig
							span.sr-only Instagram
					.media.copyright
						ul.copy
							li
								.content-calibre
									span &copy; 2018 Lotus Villa Boutique Hotel Ltd. All rights reserved.
							li
								a.link-gold.disclaimer(href="disclaimer.html") Disclaimer
