- assetImage = 'assets/images/contents/pages/'



	.section.container.disclaimer-container
		.img-bg-parallax.disclaimer-bg-holder(style='background-image:url(assets/images/contents/pages/disclaimer/banners/page-banner.jpg)')

		.hero-header.hero-wrapper.txt-center
			.content-title
				span Disclaimer
			.content-desc
				span 
				
			
	.section.container.disclaimer-container
		.disclaimer-wrapper
			span The information and facilities are made available to all without responsibility of any kind on the part of Lotus Villa including without limitation, any warranties concerning the text, accuracy or availability of the information, products and facilities on this site.
			br
			br
			span Lotus Villa, its employees and agents are not liable for any loss or damage which arises out of use of this site or the facilities and content on this site.
			br
			br
			span This site contains links to external websites. Lotus Villa is not responsible for and has no control over the content of such sites. Links to external websites do not constitute an endorsement by Lotus Villa of the content, products, advertising or other materials presented on such sites.
			br
			br
			span Participation in the facilities provided on this site is subject to the relevant terms and conditions displayed at various locations on this site. Users of these facilities are deemed to have carefully read all the terms and conditions and have agreed to comply with all such terms and conditions.
			br 
			br
			span No part of this website may be reproduced, stored in a retrieval system or transmitted, in any form or by any means, electronic, mechanical, photocopying, or otherwise, without the prior permission of Lotus Villa.




				
					





	
