- assetImage = 'assets/images/contents/pages/'



	.section.container.discover-luang-prabang-container
		.img-bg-parallax.discover-luang-prabang-bg-holder(style='background-image: url(assets/images/contents/pages/discover-luang-prabang/banners/page-banner.jpg)')
		.hero-header.hero-wrapper.txt-center
			.content-title
				span Discover Luang Prabang
			.content-desc
				span The darling of Laos

	.section.container.discover-laos-container
		.discover-laos-wrapper
			.row
				.columns-fix.six-half.pull-right
					.img-bg-holder.discover-img-holder
						img(src=assetImage + "discover-luang-prabang/discover/img-01.jpg", alt="")
				.columns-fix.six-half
					.discover-desc.vertical-middle
						.content-title
							span World-class indulgence, natural wonders, and spiritual awakenings – experience it all in the heart of Laos
						.content-calibre
							span Sitting at the confluence of the Nam Khan and Mekong rivers, this sleepy and relaxed town is pervaded by an air of peace. With its buildings an amalgamation of traditional Lao and French architecture, and saffron-clad monks thronging the streets every morning, it's undeniable that Luang Prabang has an inherent charm and wonder to her.
						.content-calibre
							span Rekindle relationships; revitalise your mind, body, and soul; discover a difference – discover Luang Prabang.
	
	.section.container.discover-tabs-container
		.discover-tabs-wrapper
			.tabs-holder
				ul.tabs.txt-center.nav-tabs-responsive.js-nav-tabs-responsive.clearfix
					li.tabs-list.active
						a.tabs-navi(href='#buddhism' data-toggle='tab') 
							span.text Buddhism
					li.tabs-list.next
						a.tabs-navi(href='#natural-wonder' data-toggle='tab') 
							span.text Natural Wonders
					li.tabs-list
						a.tabs-navi(href='#culture' data-toggle='tab') 
							span.text Culture
					li.tabs-list
						a.tabs-navi(href='#architecture' data-toggle='tab') 
							span.text Architecture Might
			.tabs-container.tab-content
				.tab-pane.tabs-content-wrapper#buddhism.active.fade.in
					.row
						.columns-fix.six-half
							.img-bg-holder.tabs-img-holder
								img(src= assetImage + 'discover-luang-prabang/tabs/buddhism/img-01.jpg', alt="")
						.columns-fix.six-half
							.tabs-desc.vertical-middle
								.content-calibre-light
									span As the spiritual centre of a Theravada Buddhist majority country, Luang Prabang's ancient temples are brimming with life. Housing sacred Buddha images and hundreds of monks, these glistening dwellings are open to the public for worship and visits.
								.content-calibre-light
									span Please be reminded to wear modest clothing and be respectful while visiting these spiritual sites:
									ul.desc
										li.desc-list
											span Wat Xiengthong, known as the Golden City Temple and an enchanting UNESCO heritage sites
										li.desc-list
											span Vat Sene, our village temple
										li.desc-list
											span Pak Ou Caves, which are packed with thousands of Buddha icons left	by living and departed Laotians
								.content-calibre-light
									span You're also invited to observe the almsgiving ritual of the monks every sunrise as their procession passes by Lotus Villa.
				.tab-pane.tabs-content-wrapper#natural-wonder.fade
					.row
						.columns-fix.six-half
							.img-bg-holder.tabs-img-holder
								img(src= assetImage + 'discover-luang-prabang/tabs/natural/img-01.jpg', alt="")
						.columns-fix.six-half
							.tabs-desc.vertical-middle
								.content-calibre-light
									span Encircled by mountain ranges and lush greenery, much of Luang Prabang's reputation as a sanctuary of serenity and beauty is owed to her natural splendour.
								.content-calibre-light
									span Cascading waterfalls, dramatic scaling limestone peaks, the exotic Mekong river and more surround this picturesque wonderland:
									ul.desc
										li.desc-list
											span Witness the spectacular sunrise and sunset views at Mount Phousi
										li.desc-list
											span Have a swim in the blue pools of Kuang Si Falls
										li.desc-list
											span Enjoy an exhilarating day with elephants at the Tad Sae Waterfall
										li.desc-list
											span Tour the majestic Mekong River and be amazed by its biodiversity
										li.desc-list
											span Relax with a peaceful kayak through the Nam Khan river
				.tab-pane.tabs-content-wrapper#culture.fade
					.row
						.columns-fix.six-half
							.img-bg-holder.tabs-img-holder
								img(src= assetImage + 'discover-luang-prabang/tabs/culture/img-01.jpg', alt="")
						.columns-fix.six-half
							.tabs-desc.vertical-middle
								.content-calibre-light
									span Wind down and go with the flow while in Luang Prabang to truly experience our charming culture. Laotians live at our own speed, and our culture has stood proud against the test of colonisation and time.
								.content-calibre-light
									span Get a glimpse into our lives as you take a relaxing stroll around Luang Prabang:
									ul.desc
										li.desc-list
											span Buy fresh local goods at the morning market from 6:30 a.m. – 10:00 a.m.
										li.desc-list
											span Try your hand at traditional textile-making at Ban Phanom Village
										li.desc-list
											span Live the life of a rice farmer with the Living Land Company
										li.desc-list
											span Head to the Traditional Arts &amp; Ethnology Centre to learn about our many ethnic Lao groups
										li.desc-list
											span Enjoy an epic retelling of Laos' history at the Phralak Phralam Theatre
				.tab-pane.tabs-content-wrapper#architecture.fade
					.row
						.columns-fix.six-half
							.img-bg-holder.tabs-img-holder
								img(src= assetImage + 'discover-luang-prabang/tabs/architecture/img-01.jpg', alt="")
						.columns-fix.six-half
							.tabs-desc.vertical-middle
								.content-calibre-light
									span Walking along the bucolic streets of Luang Prabang, it's hard not to notice the colonial mansions and classic Lao houses co-existing in harmony.
								.content-calibre-light
									span It's this enchanting and well-preserved fusion of traditional Lao and French colonial architecture that resulted in Luang Prabang being designated as a UNESCO World Heritage Site in 1995.
								.content-calibre-light
									span The provincial French design was commonly modified to suit the humid tropical climate of Laos by adding balconies and verandas. This can be seen in the Royal Palace Museum building itself, whereas Wat Mai Suwannaphumaham sports a five-tiered roof, typical of Laos' style, and is one of the only temples that survived against invaders in the late 1800s.
			.tabs-disclamer.txt-center
				span *If you need directions or any further assistance / recommendations, 
				a.link-gold(href='#') just let us know 
				span – we'll be more than happy to help.
