- assetImage = 'assets/images/contents/pages/'



	.section.container.booking-container
		.img-bg-parallax.booking-bg-holder(style='background-image:url(assets/images/contents/pages/book/reviews/page-banner.jpg)')

		.hero-header.hero-wrapper.txt-center
			.content-title
				span Manage Your Booking
			.content-desc
				span Review or modify your booking
	
	.section.container.booking-system-container
		.booking-system-wrapper
			p(style='width:100%; text-align:center; background-color: red;padding: 10px 0; color: #fff;') Booking Plugin insert here
			



				
					





	
