- assetImage = 'assets/images/contents/pages/'



	.section.container.services-container
		.img-bg-parallax.services-bg-holder(style='background-image: url(assets/images/contents/pages/services/banners/page-banner.jpg)')
			
		.hero-header.hero-wrapper.txt-center
			.content-title
				span Services
			.content-desc
				span A little spice to a simple life
				
	.section.container.heritage-hotel-container
		.heritage-wrapper.txt-center
			.heritage-title
				.content-title
					span A heritage hotel in the heart of Indochina
			.heritage-desc
				.content-calibre
					span Wind down after a long day of exploring Luang Prabang by returning to Lotus Villa, where first class service and the comforts of home await. 
				.content-calibre
					span If you need any assistance, our friendly staff will always be ready with a smile.

	.section.container.feature-services-container
		.feature-service-wrapper
			.row
				.columns-fix.six-half
					.img-bg-holder.feature-img-holder
						img(src=assetImage + "services/features/img-01.jpg", alt="")
				.columns-fix.six-half
					.feature-desc.vertical-middle
						.content-title
							span Room Features
						ul.feature-list
							li Private balconies (Lotus Room and Orchid Suite only)
							li Air-conditioners
							li Tropical courtyard garden view
							li Local artisan-made terracotta tiling, woven silk, carvings, and furniture
							li New high quality mattresses on all beds
							li Luggage racks
							li Safe deposit box
							li In-room mini fridge with mini bar
							li Coffee and tea-making facilities
							li All rooms are non-smoking rooms
							li Mosquito nets are available upon request
							li Hot water in all showers and basins with environmentally friendly toiletries
							li Wi-Fi available in all rooms
							li Bathtubs available in Water Lily Room and Orchid Suite
		.feature-service-wrapper
			.row
				.columns-fix.six-half.pull-right
					.img-bg-holder.service-img-holder
						img(src=assetImage + "services/hotel-services/img-01.jpg", alt="")
				.columns-fix.six-half
					.service-desc.vertical-middle
						.content-title
							span Hotel Services
						ul.feature-list
							li Daily housekeeping
							li Laundry service
							li Fresh made-to-order breakfast in the garden until 11:30 a.m.
							li Complimentary Wi-Fi in all areas of the hotel 
							li Travel advice and assistance from our local staff 
							li Multilingual staff 
							li Free bicycles for you to explore Luang Prabang  the Laotian way
				
					





	
